* {
  margin: 0px;
  padding: 0px;
  color: white;
}

#navbar {
  height: 60px;
  background-color: black;
}

button {
  border-style: solid;
  border-color: #f08804;
  background-color: #f08804;
  border-radius: 5px;
}

#logo {
  color: #f08804;
  font-size: 25px;
}

a {
  margin-right: 200px;
  text-decoration: none;
}

input {
  color: black;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
}

#div1 {
  height: 100px;
  width: 100px;
  color: black;
  border-style: solid;
  background-color: rgba(0, 255, 255, 0.5);
  display: inline-block;
}

#div2 {
  height: 100px;
  width: 100px;
  color: black;
  border-style: solid;
  background-color: rgba(0, 25, 255, 0.5);
  display: inline-block;
}

#div3 {
  height: 100px;
  width: 100px;
  color: black;
  border-style: solid;
  background-color: rgba(255, 0, 255, 0.5);
  display: inline-block;
}

main {
  height: 632px;
}
