a {
  text-decoration: none;
  color: black;
}

#navbar {
  background-color: pink;
  border: 2px solid black;
  display: flex;
  justify-content: space-evenly;
}

li {
  list-style-type: none;
  display: inline;
}

#outer {
  height: 400px;
  width: 400px;
  background-color: blueviolet;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#inner {
  height: 100px;
  width: 100px;
  background-color: red;
  /* align-self: flex-start; */
}
