.box {
  height: 30px;
  border: 2px solid black;
  /* outline: 2px solid black; */
  /* box-shadow: horizontal-offset Vertical-offset blur spread color inset*/
  box-shadow: 5px 5px 15px 5px #888888;
  text-shadow: 2px 2px 4px #888888;
  outline-offset: 40px;
}

.overflow {
  height: 50px;
  width: 100px;
  border: 2px solid black;
  /* overflow: auto;
  white-space: nowrap; */
  /* text-overflow: ellipsis;
  overflow-x: hidden;
  overflow-y: scroll; */
  /* overflow: x y */
  overflow: hidden scroll;
}

.filter {
  background-image: url("wallpaper.jpg");
  background-size: cover;
  height: 400px;
  width: 400px;
  filter: blur(1px);
  filter: brightness(302%);
  filter: contrast(302%);
  filter: grayscale(100%);
  filter: sepia(100%);
  filter: invert(1);
  filter: opacity(50%);
}
