p {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  line-height: 25px;
  text-transform: uppercase;
}

h1 {
  text-align: center;
  text-decoration: blue wavy underline;
  font-weight: 200;
  font-family: arial;
  font-size: 50px;
  text-transform: uppercase;
}

a {
  text-align: center;
  text-decoration: none;
}

#outer {
  font-size: 25px;
}

#inner {
  font-size: 10px;
}
