div {
  border: 2px solid black;
  background-color: pink;
  height: 100px;
  width: 100px;
  position: absolute;
  top: 100px;
  left: 100px;
  /* transition-property: all;
  transition-duration: 2s;
  transition-timing-function: steps(4);
  transition-delay: 2s;*/
  transition: all 2s ease-in;
  /* transform: rotate(45deg); */
  /* rotate: z 90deg; */
  /* transform: scale(2); */
  /* transform: scale(2, 1); Can be Increased in X and Y Both Direction */
  /* transform: scaleX(2); */
  /* transform: scaleY(2);*/
}

div:hover {
  background-color: blue;
  color: crimson;
  font-size: 20px;
  /* transform: scaleY(2); */
  /* transform: scale(2); */
  /* transform: rotate(45deg); */
  /* transform: translate(200px); */
  /* transform: translateY(200px); */
  /* transform: translateX(-200px); */
  /* transform: translate(200px, 500px); */
  transform: skew(45deg);
}

div:active {
  background-color: black;
  color: green;
  font-size: 10px;
}
